#node mods
node_modules
/node_modules
node_modules/

#env
.env
env

# Ignore test-related files
/coverage.data
/coverage/
/client/resume_site/coverage/
/client/resume_site/coverage
client/resume_site/coverage